# fly.toml app configuration file generated for aob on 2025-12-02T22:20:52Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'aob'
primary_region = 'lhr'

[build]

[env]
  TZ = 'Europe/London'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  max_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
